button {
  background: none;
  background-color: var(--bg);
  border: none;
  padding: var(--pd-small-very) var(--pd-small);
  border-radius: var(--bd-ra-small);
}

button:hover {
  background-color: var(--grey-hover);
}

button:active {
  background-color: var(--grey-active);
}

button[colorful='true'] {
  background-color: var(--main-color);
}

button[colorful='true']:hover {
  background-color: var(--main-color-hover);
}

button[colorful='true']:active {
  background-color: var(--main-color-active);
}
