@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #000;
    --theme-color-not: #fff;
  }

  :root {
    --bg: #414141;
    --bg-dark: #232323;
  }

  :root {
    --grey: #3d3d3d;
    --grey-dark: #2a2a2a;
    --grey-light: #848484;
    --grey-hover: #626262;
    --grey-active: #2e2e2e;
    --grey-border: #9c9c9c;
  }

  :root {
    --main-color: #3434ac;
    --main-color-dark: #161652;
    --main-color-light: #9292ff;
    --main-color-hover: #3a3ac5;
    --main-color-active: #0c0c48;
  }

  :root {
    --error-color: #ba3737;
    --error-color-border: #dc8787;
  }
  
  :root {
    --success-color: #1a6415;
    --success-color-border: #91d28b;
  }
  
  :root {
    --warning-color: #807b20;
    --warning-color-border: #ccd28b;
  }
}
