.line_x {
  width: 100%;
  height: var(--line-size);
  background-color: var(--grey-light);
  border-radius: 1em;
}

.line_y {
  width: var(--line-size);
  height: 100%;
  background-color: var(--grey-light);
  border-radius: 1em;
}

:root {
  --line-size: 3px;
}
