.txt_opa {
  color: color-mix(
    in srgb,
    var(--theme-color-not) 40%,
    var(--theme-color-not) 20%
  );
}

.gender_male {
  color: var(--gender-male-color);
}

.gender_female {
  color: var(--gender-female-color);
}
